@reference 'tailwindcss';
@reference '../../globals.css';

.legal {
    @apply max-w-3xl p-4 text-left;
}

.legal a {
    @apply text-inherit underline hover:no-underline;
}

.legal ul {
    @apply list-outside list-disc pl-5;
}

.legal h1 {
    @apply text-primary mb-5 text-center text-4xl font-bold;
}

.legal h2 {
    @apply mb-1 text-2xl font-bold;
}

.legal h3 {
    @apply text-xl font-bold;
}

.legal h4 {
    @apply text-lg font-bold;
}
